<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
  	<!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
          <div class="col-md-5 align-self-center">
              <h4 class="text-themecolor">All Kitchens</h4>
          </div>
          <div class="col-md-7 align-self-center text-right">
              <div class="d-flex justify-content-end align-items-center">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                      <li class="breadcrumb-item active">All Kitchens</li>
                  </ol>
                  <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
              </div>
          </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <!-- /.row -->
      <!-- ============================================================== -->
      <!-- Comment - table -->
      <!-- ============================================================== -->
      <!-- row -->
      <div class="row">
          <div class="col-md-3">
              <img class="img-responsive" alt="user" src="./assets/images/big/img1.jpg">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Web Designing</h5>
                      <div class="m-b-30">
                          <a class="link list-icons" href="#">
                              <i class="ti-alarm-clock"></i> 2 Year
                          </a>
                          <a class="link list-icons m-l-10 m-r-10" href="#">
                              <i class="fa fa-heart-o"></i> 38
                          </a>
                          <a class="link list-icons m-l-10 m-r-10" href="#">
                              <i class="fa fa-usd"></i> 50
                          </a>
                      </div>
                      <p>
                          <span><i class="ti-alarm-clock"></i> Duration: 6 Months</span>
                      </p>
                      <p>
                          <span><i class="ti-user"></i> Professor: Jane Doe</span>
                      </p>
                      <p>
                          <span><i class="fa fa-graduation-cap"></i> Students: 200+</span>
                      </p>
                      <button class="btn btn-success btn-rounded waves-effect waves-light m-t-10" routerLink="/kitchen/details">More Details</button>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <img class="img-responsive" alt="user" src="./assets/images/big/img2.jpg">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Ios Development</h5>
                      <div class="m-b-30">
                          <a class="link list-icons" href="#">
                              <i class="ti-alarm-clock"></i> 2 Year
                          </a>
                          <a class="link list-icons m-l-10 m-r-10" href="#">
                              <i class="fa fa-heart-o"></i> 38
                          </a>
                          <a class="link list-icons m-l-10 m-r-10" href="#">
                              <i class="fa fa-usd"></i> 50
                          </a>
                      </div>
                      <p>
                          <span><i class="ti-alarm-clock"></i> Duration: 6 Months</span>
                      </p>
                      <p>
                          <span><i class="ti-user"></i> Professor: Jane Doe</span>
                      </p>
                      <p>
                          <span><i class="fa fa-graduation-cap"></i> Students: 200+</span>
                      </p>
                      <button class="btn btn-success btn-rounded waves-effect waves-light m-t-10" routerLink="/kitchen/details">More Details</button>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <img class="img-responsive" alt="user" src="./assets/images/big/img3.jpg">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Android Development</h5>
                      <div class="m-b-30">
                          <a class="link list-icons" href="#">
                              <i class="ti-alarm-clock"></i> 2 Year
                          </a>
                          <a class="link list-icons m-l-10 m-r-10" href="#">
                              <i class="fa fa-heart-o"></i> 38
                          </a>
                          <a class="link list-icons m-l-10 m-r-10" href="#">
                              <i class="fa fa-usd"></i> 50
                          </a>
                      </div>
                      <p>
                          <span><i class="ti-alarm-clock"></i> Duration: 6 Months</span>
                      </p>
                      <p>
                          <span><i class="ti-user"></i> Professor: Jane Doe</span>
                      </p>
                      <p>
                          <span><i class="fa fa-graduation-cap"></i> Students: 200+</span>
                      </p>
                      <button class="btn btn-success btn-rounded waves-effect waves-light m-t-10" routerLink="/kitchen/details">More Details</button>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <img class="img-responsive" alt="user" src="./assets/images/big/img4.jpg">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Web Development</h5>
                      <div class="m-b-30">
                          <a class="link list-icons" href="#">
                              <i class="ti-alarm-clock"></i> 2 Year
                          </a>
                          <a class="link list-icons m-l-10 m-r-10" href="#">
                              <i class="fa fa-heart-o"></i> 38
                          </a>
                          <a class="link list-icons m-l-10 m-r-10" href="#">
                              <i class="fa fa-usd"></i> 50
                          </a>
                      </div>
                      <p>
                          <span><i class="ti-alarm-clock"></i> Duration: 6 Months</span>
                      </p>
                      <p>
                          <span><i class="ti-user"></i> Professor: Jane Doe</span>
                      </p>
                      <p>
                          <span><i class="fa fa-graduation-cap"></i> Students: 200+</span>
                      </p>
                      <button class="btn btn-success btn-rounded waves-effect waves-light m-t-10" routerLink="/kitchen/details">More Details</button>
                  </div>
              </div>
          </div>
      </div>
      <!-- row -->
      <!-- ============================================================== -->
      <!-- End Right sidebar -->
      <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
</div>

<app-footer></app-footer>